@use './components/button';
@use './components/div-label-input-combo';
@use './components/input';

.edit-form {

    .edit-form__form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .edit-form__btn-container {
            display: flex;
            gap: 0.5rem;
        }
    }

    .edit-form__errors {
        color: #6a0d0d;
        background-color: #f2a2a2;
        padding: 0.1rem;
        margin: 10px 0;
    }

    .edit-form__success {
        background-color: rgb(121, 214, 121);
        padding: 1rem;
        border-radius: 7px;
        margin: 10px 0;
        max-width: fit-content;

        p {
            color: rgb(4, 60, 4) !important;
        }
    }
}
