.site-header {
    background-color: #dedede;

    .site-header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--content-width);
        padding: 0.5rem 1rem;
        margin: 0 auto;
    }

    .site-header__logo-container {
        display: flex;
        gap: 0.5rem;
        justify-content: space-around;
        align-items: center;
    }

    .site-header__logo-text {
        font-weight: 700;
        font-size: 1.5rem;
    }
}
